* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.header__nav {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
    /* height: 65px;    */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.haeder__right {
    display: flex;

    
}

.header__right-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
}

.header__search {
    margin-right: 25px;
}

.header__list-link {
    font-family: 'mont';
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.header__content-1 {
    background: url(../images/header__content.jpg)no-repeat center /cover;
    height: 700px;
}

.header__content-h1 {
    font-family: 'prosto';
    font-weight: 400;
    font-size: 100px;
    line-height: 75%;
    color: #fff;
    padding-bottom: 38px;
}



.header__content-link {
    font-family: 'mont';
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #171718;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.header__content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151515;
    gap: 30px;
}

.details__left {
    font-family: 'mont';
font-weight: 500;
font-size: 22px;
color: #fff;
}


.details__right {
    max-width: 552px;
height: 335px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151515;
}

.product__right {
    font-family: 'mont';
font-weight: 500;
font-size: 22px;
color: #fff;
}

.airpods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151515;
}

.airpods__left {
    font-family: 'mont';
font-weight: 700;
font-size: 20px;
text-align: right;
color: #fff;
}


.airpods__right {
    font-family: 'mont';
font-weight: 700;
font-size: 20px;
color: #fff;
}


.airpods__line {
    max-width: 61px;
height: 1px;
margin: 14px;
}

.cost__box {
    border-radius: 6px;
    width: 255px;
    height: 312px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.cost {
    background: #151515;
}

.cost__btn {
    display: block;
    max-width: 161px;
    width: 100%;
    height: 34px;
}

.cost__list {
    font-family: 'mont';
font-weight: 700;
font-size: 20px;
color: #000;
}

.cost__cost {
    font-family: 'mont';
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
color: #000;
}

.cost__btn {
    max-width: 161px;
height: 34px;
background: #151515;
display: flex;
align-items: center;
justify-content: center;
font-family: 'mont';
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
color: #fff;
margin-top: 20px;
}

.cost__img {
    margin: 10px;
}

.main__box {
    display: flex;
    justify-content: space-between;
}


.main__box1 {
    background: #151515;
    padding-bottom: 55px;
}


.footer__box {
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.footer {
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
}

.footer__list {
    display: flex;
    gap: 30px;

}

.footer__list-link {
    font-family: 'mont';
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.footer__right {
    display: flex;
    gap: 30px;
}

.header__logo {
    max-width: 100px;
    height: 53px;
    width: 100%;
}



.details__right {
    max-width: 552px;
    width: 100%;
    height: 350px;
}


@media (max-width:1150px) {
    .main__box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        padding-top: 20px;
    }
}

@media (max-width:900px) {
    .details {
        flex-direction: column;
    }
    .product {
        flex-direction: column;
        padding-top: 20px;
    }
    .airpods {
        padding-top: 20px;
        flex-direction: column;
    }
}
@media (max-width:700px) {
    .header__content-h1 {
        font-size: 55px;
        padding-bottom: 50px;
    }
    .details__img {
        width: 100%;
    }
    .product__img {
        width: 100%;
    }
}

@media (max-width:600px) {
    .footer__box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:500px) {
    .header__box {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width:460px) {
    .header-right-link {
        display: flex;
        flex-direction: column;
    }
    .haeder__right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .header__left {
        padding-bottom: 90px;
    } */
}